<%# A recipe must contain a title, preparation time (prep_time) in minutes, the number of people it 
serves (serves), and at least one ingredient and one step.  

The user should have the option to also put in the cooking time (cook_time) in minutes and the country 
of origin (supplied from a drop down list of countries).

Each ingredient's item field can be up to 100 characters, and can not be blank.

Each step's description field can be up to 200 characters, and can not be blank. %>
<%= simple_form_for recipe do |f| %>
    <%= f.button :submit, class: 'primary-button button-link create-recipe' %>
    <%= f.input :title, placeholder: 'Title' %>
    <%= f.input :prep_time, placeholder: 'Prep time in minutes' %>
    <%= f.input :cook_time, placeholder: 'Cook time in minutes' %>
    <%= f.input :servings, placeholder: 'Number of people this serves' %>
    Origin
    <%= f.country_select :origin, include_blank: 'Select a origin country' %>
    
    <h2>Ingredients</h2>
    <i>Rules: 100 max characters & must have at least 1 ingredient</i>
    <%= f.simple_fields_for :ingredients do |ingredient| %>
        <%= render 'ingredient_fields', f: ingredient %>   
    <% end %>
    <div class="links">
        <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: 'add-ingredients' %>
    </div>     

    <h2>Steps</h2>
    <i>Rules: 200 max characters & must have at least 1 step</i>
    <%= f.simple_fields_for :steps do |step| %>
        <%= render 'step_fields', f: step %>     
    <% end %>
    <div class="links">
        <%= link_to_add_association 'Add Step', f, :steps, class: 'add-steps' %>
    </div> 
<% end %>

<% if errors.present? %>
    <div class="error">
        <%= errors.to_sentence %>
    </div>
<% end %>
<br/>
<%= link_to 'Back to Recipes', recipes_path %>