<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.8.0.min.js'%>
  <%= javascript_include_tag 'jquery.colorbox-min.js'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="main">
    <div id="title">
      HES Recipes
    </div>
    <div id="content">
      <%= yield %>
    </div>
    <div id="footer">
      <!-- Should be updated -->
      &copy; 2012 Health Enhancement Systems
    </div>
  </div>  
</body>
</html>
